@import "tailwind-colors-scss";

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

* {
  font-family: "Merriweather", serif;
  color: $tw-emerald-500;
  user-select: none;
}

.hidden {
  display: none !important;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  #wordlist {
    width: 100%;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;    
    overflow: hidden;

    .wordlist__word {
      width: 100%;
      font-size: 46pt;
      text-align: center;
      padding: 20px;
      letter-spacing: 0.2ch;
      opacity: 0.5;
    }
  }

  #entry {
    width: 100%;
    height: 200px;
    padding: 20px 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    #entry__field {
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
      input {
        width:100%;
        font-size: 46pt;
        text-align: center;
        border-bottom: 1px solid $tw-emerald-100;
        padding: 20px;
        letter-spacing: 0.2ch;
        user-select: text;

        &,
        &:focus,
        &:active,
        &:hover,
        &:visited {
          border-top: none;
          border-left: none;
          border-right: none;
          outline: none;
          background: none;
        }

        &::placeholder {
          color: $tw-emerald-100;
        }
      }

      #entry__field__hint {
        position: relative;
        top: 15px;
        font-size: 10pt;
        color: $tw-emerald-200;
      }
    }

    #entry__start {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        padding: 22px 40px;
        border: none;
        border-radius: 20px;
        background-color: $tw-emerald-050;
        font-size: 20pt;
        font-weight: 100;
        transition: all 0.75s;

        &,
        &:focus,
        &:active,
        &:hover,
        &:visited {
          border-top: none;
          border-left: none;
          border-right: none;
          outline: none;
        }

        &:hover {
          background-color: $tw-emerald-100;
          transform: scale(1.1);
        }

        &:active {
          background-color: $tw-emerald-200;
          color: $tw-emerald-600;
          transform: scale(1.05);
        }
      }
    }
  }

  #score {
    position: absolute;
    right: 80px;
    top: 50px;
    opacity: 0.2;
    font-size: 40pt;
  }
}
